REGISTRY_PREFIX=crpi-vq6wc2wogtrd0ib9.cn-guangzhou.personal.cr.aliyuncs.com/kakapeng0927
APP_IMAGE_TAG=ozonslj-api-dev
OZON_CREDENTIAL_KEY_VERSION=1
WORKER_POLL_SECONDS=5
SYNC_LEASE_SECONDS=60
SYNC_HEARTBEAT_SECONDS=20
CHROMA_IMAGE_TAG=chroma-0.5.23
